#id {
    text-align: center;
    width: 180px;
    height: 200px;
    outline: 1px solid orange;
    margin-top: 20px;
    margin:0 auto;
    box-shadow: 10px 13px rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: 30px;
}

input {
    background-color: black;
    color: white;
    border-radius: 10px;
    outline: 2px solid orange;
    padding-left: 5px;
    width: 150px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
    padding-top: 10px;

}

* {
	padding: 0;
	margin: 0;
	border: 0;
	}

body {
    font-family: sans-serif;
    background-color: #3D3D3D;
    color: #fff;
}

#sub {
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 25px;
    color:#fff;
    border-radius: 10px;
    padding-left: 0px;
    margin-top: 25px;
    box-shadow: 3px 5px rgba(0,0,0,.5);
    outline: none;
    background-color: gray;
}