.content-container{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    margin-top: 250px;
    outline: 2px solid red;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 13px rgba(0,0,0,.5);
}

#firstleveltitle{
    font-family: Oswald;
    text-decoration: underline solid;
    font-size: 250%;
}

span{
    color: orange;
    text-decoration: underline solid orange;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	}

body {
    font-family: sans-serif;
    background-color: #3D3D3D;
    color: #fff;
}