@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background: #222831;
  color: white;
}
header,
nav,
section,
.content-container,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1em 8em;
  background: #161a20;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
}
#logo-ref {
  width: 50px;
  transition: 0.3s;
}
#logo-ref:hover {
  transform: scale(1.2);
}
nav {
  justify-content: space-between;
  width: 40%;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 0.3em;
  transition: 0.3s;
}
nav a:hover {
  border: 1px solid #f05454;
}

section {
  width: 100%;
  height: auto;
}

footer {
  background: #161a20;
  padding: 3em;
}


.gradient-class {
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #108CC5, #00C4CD, #4DEE74);
  border-radius: 10px;
  font-weight: bolder;
  box-shadow: 8px 7px rgba(0, 0, 0, 0.3);
}

#home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 120px;
}

#section-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding-top: 220px;
}

#section-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding-top: 320px;
}

#section-3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 420px;
}

#section-3:hover {
  justify-content: space-around;
}

.gradient-class.first {
    background: linear-gradient(45deg, #d13881,#ed8f6b,#e8dca4);
}

.gradient-class.second {
    background: linear-gradient(45deg, #121117, #00A89B);
}

.gradient-class.third {
  background: linear-gradient(45deg,#FFFFFF, #ED9277)
}